
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="background">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300&family=Roboto+Slab:wght@500;800&family=Roboto:ital,wght@0,300;0,400;1,900&family=Young+Serif&display=swap" rel="stylesheet">



<h1>Physician Details Page</h1>
<img src="{{ Details?.image }}" alt="Physician Image" />
<h2><div class="name">{{ Details?.name }}</div></h2>
<h3>Summary:</h3>
<div class="summary">{{ Details?.summary }}</div>

<h3>Education:</h3> <div class="education">{{ Details?.Education }}</div>
<h3>Certification:</h3> <div class="certification">{{ Details?.Certifications }}</div>
<h3>Awards:</h3> <div class="awards">{{ Details?.Awards }}</div>
<br><br><br>
</body>