
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@300&family=Roboto+Slab:wght@500;800&family=Roboto:ital,wght@0,300;0,400;1,900&family=Young+Serif&display=swap" rel="stylesheet">

<body>
    <section id="body2">
                <div class="box">
                <h3 class="item3">ABOUT </h3>
                <h1 class="div2">ABOUT US</h1>
                <p class="item2"> The professional medical network for physicians
    Doctors is the largest community of healthcare professionals in the country - with over 80% of U.S. doctors and 50% of all NPs and physician assistants as verified members.<br>incididunt ut labore et dolore magna aliqua.<br>
                 </p> 
                 
                 <i class="jee3"></i> <p class="jee3">Our professional medical network has a larger membership than the American Medical Association, and more doctors use Doximity than Epic, the top EMR in the United States. Doximity’s membership has expanded to include over 80% of physicians and an increasing number of NPs, PAs, and pharmacists. Aside from the iPhone, there’s never been a piece of technology adopted by clinicians as quickly as Doximity. If you’re a clinician, claim your profile today.</p>
                   <i class="fa-solid fa-check fa-tic1"></i>
                    <p class="jee1">Doctors’s passion for addressing the workflow needs and practice pain points of clinicians is core to our product development. We believe that when the whole care coordination team is connected, patients benefit and the medical sector can work more efficiently and have a bigger impact. Our “clinician-first” mentality allows us to listen to the needs of clinicians and inspires us to build simple, easy-to-use tools to solve complex problems.</p>
                    <i class="fa-solid fa-check fa-tic2"></i>
                    <p class="jee2"> Clinicians are mobile by nature, so Doctors’s suite of tools have been developed keeping this in mind. You can send and receive electronic faxes conveniently while you’re on-the-go, securely collaborate on patient treatment when you’re on-call, and call patients from your cell phone while displaying your office number. With Doctors, you can be more productive and efficient without sacrificing convenience. Download our mobile apps.</p>
                    </div>
                <div class="box1">
                    <p class="item4">Doctor <br>500 3rd St. chennai · omr, PINCODE 94107.</p>
                    <input type="button" value="Learn more" class="btn2">
                </div>
            </section>
    </body>