<!-- trying -->
<header>
    <div class="contain">
        <a class="logo" href="/">
            <img alt="Doximity Logo" loading="eager" src="">
        </a>
        <div class="right">
            <div class="column" *ngFor="let column of linksPhy">
                <div class="row">
                    <a *ngFor="let link of column" [routerLink]="['/', link.toLowerCase().replace(' ', '-')]">{{ link }}</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- head profile -->

<div itemprop="employee" itemscope itemtype="http://schema.org/Person">
    <div class="row profile-head">
        <div class="overlay-black">
            <div class="section center">
                <div class="profile-photo">
                    <img src="" alt="">
                </div>
                <h1>
                    <span class="user-full-name" data-sel-name id="user_full_name" itemprop="name" >
                        <span class="user-name-first"></span>
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>

<h1>
    <span class="user-full-name" data-sel-name id="user-full-name" itemprop="name">"Alan E. Forenbreg,MD"</span>
</h1>

<h2> Dr. Alan is on Doximity </h2>
As a Doximity member you'll join over two million verified healthcare professionals in a private, secure network.
<p>
1. Connect with other colleagues in the same hospital or clinic <br>
2. Search all U.S. specialist profiles and refer a patient <br>
3. Read the latest clinical news and earn CME/CEU credits <br>
</p>

<h3>Summary</h3>
<h4>Accomplished healthcare executive with a demonstrated history  of achieving strong financial,<br> operational, and quality performance within highly matrixed healthcare organizations. <br>Exceptional business acumen with a deep understanding of executive leadership, coaching,<br> business development, large group physician governance, and organizational alignment.</h4>

