
<body>
    <section id="name9">
                <div class="con">
                    <h3 class="con1">CONTACT</h3>
                    <h1 class="con2">CONTACT US</h1>
                
                </div>
                <div class="con3">
                    <i class="fa-solid fa-location-dot fa-samj"></i>
                    <h3 class="con7">Our Address</h3>
                    <p class="con8">A108 Adam Street, New York, NY 535022</p>
                </div>
                <div class="con4">
                    <input type="text" value=" Your name" placeholder="Your Name" class="con9">
                    <input type="text" value="Your Email" placeholder="Your Email" class="con10">
                    <input type="text" value="Subject" placeholder="Subject" class="con11"> <input type="text" value="Message" placeholder="Message" class="con12">
                    <input type="button" value="Send Message" class="con13">
                </div>
                <!-- <div class="con5">
                    <i class="fa-regular fa-envelope fa-samj1"></i>
                    <h3 class="con14">Email</h3>
                    <p class="con15">info@example.com</p>
                    <p class="con16">contact@example.com</p>
                </div> -->
                <!-- <div class="con6">
                    <i class="fa-solid fa-phone-volume fa-samj2"></i>
                    <h3 class="con17">Call Us</h3>
                    <p class="con19">+1 6678 254445 41</p>
                </div> -->
            </section>
    </body>